__pycache__/
*.py[cod]
*.db
.env
*.env.*
*.egg-info/
dist/
build/
.pytest_cache/
.pytest*
.venv/
venv/
alembic.ini
migrations/
*virtual*
*.zip
*.md

app/frontend/node_modules/
app/frontend/dist/
app/frontend/build/
app/frontend/.vite/
app/frontend/.cache/
app/frontend/.env
app/frontend/.env.*
app/frontend/coverage/

*.log
.DS_Store
Thumbs.db
.vscode/
.idea/