__pycache__/
*.py[cod]
*.db
.env
*.env.*
*.egg-info/
dist/
build/
.pytest_cache/
.pytest*
.venv/
venv/
alembic.ini
migrations/
*virtual*
*.zip
*.md

*frontend/node_modules/
*frontend/dist/
*frontend/build/
*frontend/.vite/
*frontend/.cache/
*frontend/.env
*frontend/.env.*
*frontend/coverage/

*.log
.DS_Store
Thumbs.db
.vscode/
.idea/