fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
pydantic[email]==2.11.4
python-dotenv==1.1.0
python-jose[cryptography]==3.4.0
passlib[argon2]==1.7.4
httpx==0.28.1
python-multipart==0.0.20
alembic==1.15.2
psycopg2-binary==2.9.10
redis==5.2.1
pytest==8.3.5
pytest-asyncio==0.26.0
httpx==0.28.1

apscheduler==3.11.2
qrcode[pil]