fastapi
uvicorn[standard]

sqlalchemy
aiosqlite

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

httpx

redis

apscheduler

qrcode[pil]
pillow

python-multipart

email-validator